@import "base/variables";
@import "base/mixins";

* {
    font-family: "Museo Sans Cyrl", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    @media (max-width: 991px) {
        max-width: 700px;
    }
    @media (max-width: 767px) {
        padding: 0 20px;
    }
}




@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";


