@import "base/variables";
@import "base/mixins";

* {
    font-family: "Museo Sans Cyrl", sans-serif;
    margin: 0;
    box-sizing: border-box;
    @media (max-width: 575px) {
        outline: none;
    }
}

a {
    text-decoration: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1200px) {
        max-width: 910px;
    }
    @media (max-width: 991px) {
        max-width: 700px;
    }
    @media (max-width: 767px) {
        padding: 0 15px;
    }
}




@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";

