.advantages {
    // min-height: 472px;
    background-color: #f6f6f6;
    padding: 69px 0 80px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        margin-top: 70px;
        max-width: 238px;
        text-align: center;
        color: #0d0d0d;
        @media (max-width: 991px) {
            width: 215px ;
        }
        @media (max-width: 575px) {
            margin-top: 50px;
        }
    }
    &__title {
        margin-top: 38px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        @media (max-width: 575px) {
            margin-top: 24px;
        }
    }
    &__descr {
        margin-top: 25px;
        font-weight: 300;
        font-size: 14px;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
}