.button {
    width: 150px;
    height: 30px;
    background-color: $button_color;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }
}