.button {
    width: 150px;
    height: 30px;
    background-color: $main_color;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    outline: none;
    &:hover {
        box-shadow: 0 0 5px #ad0606;
    }
    &:active {
        transform: scale(0.90);
    }
    @media (max-width: 768px) {
        font-size: 12px;
        &:hover {
            box-shadow: none;
        }
        &:active {
            transform: none;
        }
    }
    @media (max-width: 575px) {
        width: 130px;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
        @media (max-width: 767px) {
            width: 250px;
        }
        @media (max-width: 575px) {
            font-size: 13px;
            height: 40px;
            margin: 67px auto 0 auto;
        }
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        @media (max-width: 575px) {
            height: 45px;
            margin: 0 auto;
            width: 90%;
            font-size: 13px;
        }
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        text-transform: uppercase;
    }
}