.button {
    width: 150px;
    height: 30px;
    background-color: $button_color;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width: 575px) {
        width: 130px;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
        @media (max-width: 767px) {
            width: 250px;
        }
        @media (max-width: 575px) {
            height: 40px;
            margin: 67px auto 0 auto;
        }
    }
}