.carousel {
    padding: 81px 0;

    &__inner {
        width: 750px;
        margin: 0 auto;
        
    }

    .comtrols {
        position: absolute;
        width: 100%;
        top: 50%;
        .arrow{
            position: absolute;
            width: 100%;
            top: 50%;
            height: auto;
            pointer-events: none;
            z-index: 2;
            position: absolute;
            transform: translateY(-50%);
            &-left {
                left: -66px;
            }
            &right {
                right: -66px;
            }
        }
    }
  
}


