.catalog {
    padding: 0 0 100px 0;
    @media (max-width: 992px) {
        padding-bottom: 50px; 
    }
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            box-shadow: 3px 3px 10px $main_color;
            border: none;
        }
        div {
            transform: skewX(25deg);    
        }

        &_active {
            background-color: $main_color;
            color: #fff;
            border: none;
        }
        @media (max-width: 767px) {
            font-size:14px;
            width: 160px;
            height: 40px;
            line-height: 40px;
            &:hover {
                box-shadow: none;
            }
        }
        @media (max-width: 575px) {
            font-size:10px;
            &:nth-child(2) {
                width: 115px;
            }
        }
    }

    &__content {
        margin-top: 60px;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        margin-left: 8px;
        margin-right: 8px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            color: #0d0d0d;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            color: #0d0d0d;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main_color;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: underline;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin: 19px 0 21px 0;    
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;

        }
        &__wrapper {
            width: calc(200% + 40px);
            display: flex;


        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.4s all;    
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.4s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            position: relative;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                font-size: 14px;
                color: #555555;
                font-weight: 300;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    top: 6px;
                    left: -14px;
                    background-color: $main_color;
                }
            }
        }
        &__back {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(calc(-50% - 19px));
            color: $main_color;
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
}