.consultation {
    min-height: 580px;
    padding: 100px 0 92px 0;
    background: url("../img/second-bg.jpg") center center/cover no-repeat;
    @media (max-width: 575px) {
        padding: 50px 0 42px 0;
    }
    &__descr {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin-top: 80px;
        @media (max-width: 575px) {
            margin-top: 40px;
            text-align: center;
        }
    }
}