.footer  {
    position: relative;
    height: 630px;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main_color;
        padding: 50px 68px 60px 68px;
        border-radius: 5px;
        @media (max-width: 991px) {
            width: 350px;
            padding: 30px 20px;
            height: 220px;
        }
        @media (max-width: 575px) {
            top: 430px;
            width: 320px;
            padding: 30px 13px;
        }
    }
    &__address {
        font-style: normal;
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        line-height: 20px;
        @media (max-width: 991px) {
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        &:hover {
            text-decoration: underline;
            @media (max-width: 575px) {
                text-decoration: none;
            }
        }
        
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 2px solid #fff;
            border-radius: 50%;
            margin: 0 15px;
            transition: .4s all ease-in-out;
            img {
                height: 27px;
                @media (max-width: 991px) {
                    height: 22px;
                }
            }
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 0 10px #fff;;
            }
            @media (max-width: 991px) {
                width: 40px;
                height: 40px;
                &:hover {
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }
  
}