.feedback-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    @media (max-width: 575px) {
        width: 290px;
        margin-top: 45px;
     }
    input {
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        padding: 0 20px;
        color: #000;
        font-size: 14px;
        font-weight: 300;
        @media (max-width: 575px) {
            height: 40px;
         }
        &::-moz-placeholder { 
            color: #c0392b; 
        }
        &::-webkit-input-placeholder { 
            color: #c0392b; 
        }
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
}