.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/main-bg.jpg") center center/cover no-repeat;
    @media (max-width: 991px) {
        min-height: 550px;
    }
    @media (max-width: 575px) {
        min-height: 500px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
        @media (max-width: 575px) {
           margin-top: 35px;
           align-items: center;
           text-align: center;
        }
    }
    &__header {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        @media (max-width: 767px) {
            font-size: 32px;
        }
        @media (max-width: 575px) {
            margin: 0;
        }
    }
    &__subheader {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        line-height: 24px;
        margin-top: 17px;
        @media (max-width: 767px) {
            font-size: 20px;

        }
        @media (max-width: 575px) {
            font-size: 15px;
        }
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 991px) {
            width: 400px;
        }
        @media (max-width: 767px) {
            width: 350px;
        }
        @media (max-width: 575px) {
            width: 300px;
        }
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
        }
    }
    &__img {
        height: 48px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-top: 18px;
        a {
            color: #fff;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
        @media (max-width: 575px) {
            margin: 18px auto 0 auto;
        }
    }
}