.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        text-align: left;
        color: #fff;
        line-height: 1.2;
        @media (max-width: 575px) {
           font-size: 22px;
           text-align: center;
        }
    }
}
